{$SAYSO_DOMAIN} {
	encode zstd gzip

	handle /v1/* {
		header Cache-Control "no-store"
		reverse_proxy 127.0.0.1:3001 {
			header_up X-Sayso-Client-IP {http.request.remote.host}
			flush_interval -1
		}
	}

	handle /media/* {
		@clip path_regexp clip ^/media/0x[0-9a-f]{64}\.mp4$
		handle @clip {
			root * /srv/sayso/media
			uri strip_prefix /media
			file_server
		}
		handle {
			respond 404
		}
	}

	handle {
		root * /srv/sayso/web
		try_files {path} /index.html
		file_server
	}
}
